div(class="p-2")
  include add-folder-form
  span(class="p-1") 
  include add-file-form

div(class="p-2")
  table(class="table table-striped table-dark table-hover")
    thead 
      tr
        th
          span(class="ps-4") 
            span(class="ps-1") Файлы
        th
    tbody 
      each item in items.folders
        tr(class="table-secondary")
          td
            a(href=`/admin/${d}/${item}` class="text-dark text-decoration-none")
              i(class="bi bi-folder-symlink-fill me-2" title="Папка") 
              span= item
          td(class="text-end")
            div(class="d-flex justify-content-end")
              if user.role == 1
                div
                  form(method="post" action="/admin/folder/remove")
                    input(type="hidden" name="name" value=`${d}/${item}`)
                    button(type="submit" class="btn btn-sm btn-danger remove-btn" title="Удалить" data-item=item)
                      i(class="bi bi-trash") 

      each item in items.files
        tr 
          td
            a(href=`/${d}/${item}` target="_blank" class="text-white text-decoration-none")
              if item.indexOf('.jp') > 0
                i(class="bi bi-filetype-jpg me-2" title="JPG-картинка") 
              else if item.indexOf('.png') > 0
                i(class="bi bi-filetype-png me-2" title="PNG-картинка") 
              else if item.indexOf('.mp4') > 0
                i(class="bi bi-filetype-mp4 me-2" title="MP4-видео") 
              else
                i(class="bi bi-file-earmark-fill me-2" title="Файл") 
              span= item
          td(class="text-end")
            div(class="d-flex justify-content-end")
              if user.role == 1
                div
                  form(method="post" action="/admin/file/remove")
                    input(type="hidden" name="name" value=`${d}/${item}`)
                    button(type="submit" class="btn btn-sm btn-danger remove-btn" title="Удалить" data-item=item)
                      i(class="bi bi-trash") 

    